@import url('theme.css');
@import url('collapsible.css');
.my-logo {
  color:white;
  flex:0 0 0px;
  padding:0px 60px;
  margin-right:0px;
  line-height:32px;
}
.sk-hits-list-hit__knowl-footer{line-height:10px;margin:0 0 5px;font-size:10px;float:left; line-height: 12px;}
.sk-hits-list-hit__knowl-data{line-height:10px;margin:0 0 5px;font-size:10px;width:250px;word-break: break-all; word-wrap: break-word}
.sk-hits-list-hit__knowl-label{line-height:10px;margin:0 0 5px;font-size:10px;float:left}
.sk-hits-list-hit__knowl-title{line-height:18px;margin:0 0 5px;font-size:14px;font-weight:bold}

.gridview{position: relative;padding:0em 2.1em -0em 0em}


/* Container holding the image and the text */
.container {
position: relative;
text-align: center;
color: black;
}

.placeholder {
margin-right: auto;
margin-left:auto;
margin-top: 20px;
width: 20px;
position: relative;
}

/* both DIVs have the same image */
.bg-image-blur, .bg-image {
position:absolute;
top:0;
left:0;
width: 100%;
height:100%;
opacity: 0.9;
margin: 2px;
border-radius: 4px;
width: 240px;
box-shadow: 5px 5px 8px rgba(0,0,0,0.6);
float: left;
margin-bottom: 40px;
}

.content {
position: absolute;
top:0; left:0;
width: 100%;
height: 100%;
color: #fff;
text-shadow: 0 0 3px #000;
text-align:
center;
font-size: 30px;
}


/* Centered text */
.text-style {
}

.text-style, .text-style-blur, .text-style-noblur, .text-style-glow {
position: absolute;
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 205px;
color: rgba(245,245,240,9);
left: 20px;
top: 40px;
font-size: 1.35em;
padding: .45em 1em .45em;
font-weight: 550;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
//-webkit-text-stroke: .7px black;
//background: rgba(0,0,0,.4);
border-radius: 40px;
overflow-wrap: break-word;
}

.text-style-blur {
background: rgba(0,0,0,.5);
-webkit-filter: blur(20px);
-moz-filter: blur(20px);
-o-filter: blur(20px);
-ms-filter: blur(20px);
filter: blur(20px);
}

.text-style-noblur {
//background: rgba(0,0,0,.3);
//-webkit-filter: blur(20px);
//-moz-filter: blur(20px);
//-o-filter: blur(20px);
//-ms-filter: blur(20px);
//filter: blur(20px);
}

.text-style-glow {
color: rgba(0,0,0,1);
-webkit-filter: blur(2px);
-moz-filter: blur(1.5px);
-o-filter: blur(1.5px);
-ms-filter: blur(1.5px);
filter: blur(1.5px);
}

.simple-cover2 {
border: 0.8px solid gray;
opacity: 1;
margin: 2px;
border-radius: 4px;
width: 240px;
box-shadow: 5px 5px 8px rgba(0,0,0,0.6);
float: left;
margin-bottom: 40px;
}


.simple-view{
margin-left: 10px;
margin-bottom: 20px; 
}

.simple-tab{
margin-left:270px;
}

.simple-cover {
opacity: 0.9;
position: relative;
margin: 2px;
border-radius: 4px;
width: 240px;
box-shadow: 5px 5px 8px rgba(0,0,0,0.6);
float: left;
margin-right: 24px;
margin-bottom: 60px;
}

.simple-gravatar {
opacity: 0.5;
position: relative;
margin: 2px;
border-radius: 6px;
width: 64px;
height: 64px;
box-shadow: 5px 5px 8px rgba(0,0,0,0.6);
float: left;
margin-right: 24px;
margin-bottom: 12px;
}

.simple-icon {
opacity: 0.6;
}

.wp-caption {
position: relative;
padding: 0;
margin: 0;
border-radius: 4px;
background: rgba(0,0,0,0.5);
padding: 1.5px;
width: 250px;
height:383px;
box-shadow: 5px 5px 8px rgba(0,0,0,0.5);
}

.wp-caption-frame {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 99%;
color: rgba(245,245,240,.9);
left: 0%;
top: 10%;
font-size: 1.5em;
padding: .5em 1.25em .5em;
font-weight: 400;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
text-shadow:.5px .5px 1px rgba(0,0,0,1),-.5px -.5px 1px rgba(0,0,0,1);
background: rgba(0,0,0,.8);
border-radius: 2px;
}

